.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 375px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 991px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.normal{
    background: rgb(89,111,78);
    background: linear-gradient(308deg, rgba(89,111,78,1) 0%, rgba(100,126,88,1) 35%, rgba(166,168,119,1) 100%); 
}
.grass{
    background: rgb(72,120,49);
    background: linear-gradient(308deg, rgba(72,120,49,1) 0%, rgba(91,153,61,1) 35%, rgba(119,200,80,1) 100%);  
}
.fire{
    background: rgb(173,93,36);
    background: linear-gradient(308deg, rgba(173,93,36,1) 0%, rgba(213,114,44,1) 35%, rgba(238,127,48,1) 100%); 
}
.water{
    background: rgb(71,98,162);
    background: linear-gradient(308deg, rgba(71,98,162,1) 0%, rgba(85,117,193,1) 35%, rgba(103,143,238,1) 100%); 
}
.electric{
    background: rgb(201,169,37);
    background: linear-gradient(308deg, rgba(201,169,37,1) 0%, rgba(215,180,40,1) 35%, rgba(247,207,46,1) 100%); 
}
.ice{
    background: rgb(115,159,161);
    background: linear-gradient(308deg, rgba(115,159,161,1) 0%, rgba(137,192,193,1) 35%, rgba(152,213,215,1) 100%); 
}
.ground{
    background: rgb(171,147,83);
    background: linear-gradient(308deg, rgba(171,147,83,1) 0%, rgba(195,167,92,1) 35%, rgba(223,191,105,1) 100%); 
}
.flying{
    background: rgb(113,97,158);
    background: linear-gradient(308deg, rgba(113,97,158,1) 0%, rgba(137,117,194,1) 35%, rgba(169,143,240,1) 100%); 
}
.poison{
    background: rgb(99,40,99);
    background: linear-gradient(308deg, rgba(99,40,99,1) 0%, rgba(143,58,143,1) 35%, rgba(160,64,160,1) 100%); 
}
.fighting{
    background: rgb(117,31,26);
    background: linear-gradient(308deg, rgba(117,31,26,1) 0%, rgba(164,43,37,1) 35%, rgba(191,48,41,1) 100%); 
}
.psychic{
    background: rgb(167,60,93);
    background: linear-gradient(308deg, rgba(167,60,93,1) 0%, rgba(210,75,116,1) 35%, rgba(246,86,135,1) 100%); 
}
.dark{
    background: rgb(83,64,52);
    background: linear-gradient(308deg, rgba(83,64,52,1) 0%, rgba(93,72,59,1) 35%, rgba(114,88,71,1) 100%); 
}
.rock{
    background: rgb(131,115,41);
    background: linear-gradient(308deg, rgba(131,115,41,1) 0%, rgba(158,138,48,1) 35%, rgba(184,161,55,1) 100%); 
}
.ghost{
    background: rgb(66,58,101);
    background: linear-gradient(308deg, rgba(66,58,101,1) 0%, rgba(82,74,122,1) 35%, rgba(99,88,150,1) 100%); 
}
.steel{
    background: rgb(114,113,126);
    background: linear-gradient(308deg, rgba(114,113,126,1) 0%, rgba(147,146,163,1) 35%, rgba(184,183,207,1) 100%); 
}
.dragon{
    background: rgb(72,36,159);
    background: linear-gradient(308deg, rgba(72,36,159,1) 0%, rgba(82,39,190,1) 35%, rgba(111,56,246,1) 100%); 
}
.fairy{
    background: rgb(159,118,132);
    background: linear-gradient(308deg, rgba(159,118,132,1) 0%, rgba(214,153,173,1) 35%, rgba(249,174,199,1) 100%); 
}
.bug{
    background: rgb(117,122,41);
    background: linear-gradient(308deg, rgba(117,122,41,1) 0%, rgba(159,167,55,1) 35%, rgba(185,194,62,1) 100%); 
}

.bg-image{
    position: absolute;
    width: 60%;
    right: 0;
    bottom: 0;
    margin-right: -10px;
    margin-bottom: -20px;
    z-index: -1;
}
.bg-image-2{
    width: 100%;
    top: 0;
    position:absolute;
    z-index: -1;
}

.pokemon{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    max-width: 370px;
    max-height: 200px;
}

.pokemon:hover{
    box-shadow: 0px 5px 8px 5px #b2dbff52;
}

.images{
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image1 {
    position: relative;
    top: 20px;
    left: 30px;
    height: 100px;
    width: 100px;
    padding-right: 5px;
  }

.image2 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    filter: invert(100%)
}

.pokemon .normal{
    background: #a6a877;
}

.pokemon .grass{
    background: #77c850; 
}

.pokemon .fire{
    background: #ee7f30;
}
.pokemon .water{
    background: #678fee;
}
.pokemon .electric{
    background: #f7cf2e;
}
.pokemon .ice{
    background: #98d5d7;
}
.pokemon .ground{
    background: #dfbf69;
}
.pokemon .flying{
    background: #a98ff0;
}
.pokemon .poison{
    background: #a040a0;
}
.pokemon .fighting{
    background: #bf3029;
}
.pokemon .psychic{
    background: #f65687;
}
.pokemon .dark{
    background: #725847;
}
.pokemon .rock{
    background: #b8a137;
}
.pokemon .ghost{
    background: #635896;
}
.pokemon .steel{
    background: #b8b7cf;
}
.pokemon .dragon{
    background: #6f38f6;
}
.pokemon .fairy{
    background: #f9aec7;
}
.pokemon .bug{
    background: rgb(185, 194, 62);
}

.pokemon .number{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name{
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
    display: flex;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type{
    color: #fff;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemons .detail img{
    max-width: 100%;
    height: 70px;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem .5rem;
    margin: .25rem 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.418);
    cursor: pointer; 
}

.pokemonBtn{
    background-color: #00000000;
    padding: 0;
    margin: 0;
    border-style: none;
}

.Pokemon-details-Modal{
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.829);
    backdrop-filter: blur(20px);
}
.Pokemon-card-details{
    border-radius: 1rem;
    height: 100%;
    max-height: 769px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px -1px 20px 0px #9b9b9b26;
    position: relative;
    z-index: 0;
}
.hide{
    display: none;
}
.btn-area{
    width: 100%;
}
.btn{
    all:unset;
    cursor: pointer;
    color: white;
}
.btn:hover{
    opacity: 0.8;
}
.Pokemon-title{

display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem;
padding-bottom:1rem;
flex-wrap: wrap;
gap: 1rem;
}
.Pokemon-title > div{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.Pokemon-title .types{
    flex-direction: row;
}
.Pokemon-title .name{
    font-size: 2rem;
}
.Pokemon-title .number{
    color:white;
}
.Pokemon-card-details .Image{
    width: 17rem;
    height: 17rem;
    margin-bottom: -30px;
    margin-inline: auto;
}

.Pokemon-details{
    font-size: 13px;
    padding: 2rem;
    padding-top: 2.8rem;
    background: white;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    height: 100%;
}

.titles li{
    flex: 1 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    color: #00000052;
    border-bottom: 2px solid #80808014;
    cursor: pointer;
    transition: 140ms ease-out;
}
.titles li.active{
    color:black;
    border-color: #594bff;
   
}
.titles li:hover{
    opacity: 0.8;
}
.Pokemon-details-About{

    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
}
.Pokemon-details-About:first-child{
    margin-bottom: 1rem;
    
}
.Pokemon-details-About li > span{
    display: flex;
    color: rgb(165, 165, 165);
    width: 100px;
    justify-content: space-between;
}
.stats li > span{
    display: flex;
    color: rgb(165, 165, 165);
    width: 200px;
    justify-content: space-between;
}
.Pokemon-details-About li > span span:last-child{
    color: black;
}
.Pokemon-details-About li{
    display: flex;
    align-items: center;
   
}

.stats-bar{
    margin-left: 20px;
    width: 100%;
    height: 5px;
    border-radius: 10rem;
    background-color: #0000000f;
    overflow: hidden;
}
.stats-bar  span{
    display: block;
    border-radius: 10rem;
    height: 100%;

    animation: bar 500ms ease-in-out forwards;
}
.stats-bar.red span{
    background: #ff6a6a;
}
.stats-bar.green span{
    background: #5fbb81;
}

